

.form_custom{
    margin-top:5% ;
    padding: 2rem;
    margin-bottom: 5%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(182, 182, 182));
}
.form_section{
    background-color: aquamarine;
    background-image: url(../img/form_bg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    padding:1% 0% ;
    margin-top:5% ;
}
.leftform_custom{
    margin-top: 15%;
}